{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-async-to-generator",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ],
    "transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "shared": "./src/shared"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
